body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  word-break: break-all;
  text-transform: uppercase;
  max-width: 4ch;
}

@media (max-width: 1000px) {
  .subtitulo {
    max-width: 1ch;
    font-size: 5rem;
    justify-self: center;
    align-self: center;
  }
}

@media (max-width: 850px) {
  .subtitulo {
    max-width: initial;
    font-size: 4rem;
    text-transform: capitalize;
  }
}

@media (max-width: 350px) {
  .subtitulo {
    font-size: 2.5rem;
  }
}
